html, body, #root {
    margin: 0;
    background-color: #fefbf6;
    min-height: 100vh;
    padding: 0;
    overflow: hidden;
}
body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, p {
    word-wrap: break-word;
}